<%= @yield %>

<header>
  <h1>Word Puzzle!</h1>
</header>

<div class="main-content">

  <h3>Enter in a word or sentence below to turn it into a word puzzle:</h3>

  <form action="/result">
    <input type="text" id="string-input" name="string-input">
    <button type="submit" name="Submit">Submit</button>
  </form>

</div>
