<h1>Hello World! This is a placeholder title.</h1>

<form action="/result">
  <label>Enter in a string to turn into a puzzle:</label>
  <input type="text" id="string-input" name="string-input">
  <button type="submit" name="Submit">Submit</button>
</form>
