<%= @yield %>

<header>
  <h1>Word Puzzle!</h1>
</header>

<div class="main-content">

  <h3>Try to guess the word or phrase!</h3>

  <p><%= @result %></p>

  <a href="/"><button class="return-bt" type="submit" name="Submit">Try again?</button></a>

</div>
