* {
  box-sizing: border-box;
}
header {
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  color: #fff;
}

h3 {
  color: #fff;
  text-align: center;
}

body {
  background: #111;
  background-image: url(http://image.naldzgraphics.net/2012/11/26-black-seamless-brick-photoshop-pattern-set.jpg);
}

.main-content {
  max-width: 720px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #fff;
  text-align: center;
}

form {
  text-align: center;
  margin: 50px 0;
}

input {
  width: 75%;
  height: 50px;
  padding: 0 10px;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

button {
  height: 50px;
  width: 75px;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.return-bt {
  width: 200px;
  margin: 50px auto;
}

p {
  text-align: center;
  margin-top: 50px;
  color: #0ff;
  font-size: 2em;
}
